.button {
    background-color: black;
    padding: auto;
    border: none;
    border-radius: 24px;

    width: 300px;
    height: 100px;

    color: azure;

    transition: all 1000ms ease-in-out;
}

.button:hover {
    background-color: red;
    cursor: pointer;

    width: 700px;

    color: black;
}

.button:hover .main-title {
    letter-spacing: 0.5em;
}

.main-title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.02em;
    transition: letter-spacing 1000ms ease-in-out;
}

